<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- vo가 null인 경우 에러가 발생할 수 있기 때문에 3항연산자 처리 -->

	<form action="viewForm" method="post">
		이름: <input type="text" name="name" th:value="${vo} != null ? ${vo.name}">[[${valid_name}]]<br>
		급여: <input type="text" name="salary" th:value="${vo} != null ? ${vo.salary}">[[${valid_salary}]]<br>
		전화번호: <input type="text" name="phone" th:value="${vo} != null ? ${vo.phone}">[[${valid_phone}]]<br>
		이메일: <input type="text" name="email" th:value="${vo} != null ? ${vo.email}">[[${valid_email}]]<br>
		
		<input type="submit" value="서버측 유효성 검증"><br>
	</form>

</body>
</html>