<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.topic.TopicMapper">

	<insert id="regist">
		insert into TOPIC(topic_id,
						  topic_title,
						  topic_content,
						  topic_regdate
		)
		values(#{topic_id},
			   #{topic_title},
			   #{topic_content},
			   #{topic_regdate}
		)
	</insert>
	
	<select id="getListAll" resultType="TopicVO">
		<!-- 
		select * 
		from PRODUCT 
		where prod_writer = 'admin' 
		order by prod_id desc
		 -->
		 
		<![CDATA[
		SELECT
			B.*
		FROM
			(SELECT
				A.*, @ROWNUM:=@ROWNUM + 1 AS RN
			FROM
				(SELECT
					*
				FROM
					TOPIC
				WHERE
					TOPIC_ID = 'admin'
				
		]]>        	
            		<if test="searchName != '' and searchName != null">
            		AND TOPIC_ID LIKE CONCAT('%', #{searchName}, '%')
            		</if>            		
            		<if test="searchTitle != '' and searchTitle != null">
            		AND TOPIC_TITLE LIKE CONCAT('%', #{searchTitle}, '%')
            		</if>
				) A, (SELECT @ROWNUM:=0) D     		
    	<![CDATA[
		) B
		WHERE
		RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
		]]>
	</select>
	
	<select id="getList" resultType="ProductVO">
		<!-- 
		select * 
		from PRODUCT 
		where prod_writer = 'admin' 
		order by prod_id desc
		 -->
		 
		<![CDATA[
		SELECT
			B.*
		FROM
			(SELECT
				A.*, @ROWNUM:=@ROWNUM + 1 AS RN
			FROM
				(SELECT
					*
				FROM
					product
				WHERE
					PROD_WRITER = 'admin'
		]]>
					<if test="startDate != '' and startDate != null">
					<![CDATA[
            		AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') > DATE_FORMAT(#{startDate}, '%Y-%m-%d')
            		]]>
            		</if>            		
            		<if test="endDate != '' and endDate != null">
            		<![CDATA[
            		AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            		]]>
            		</if>            		
            		<if test="searchName != '' and searchName != null">
            		AND PROD_NAME LIKE CONCAT('%', #{searchName}, '%')
            		</if>            		
            		<if test="searchContent != '' and searchContent != null">
            		AND PROD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
            		</if>            		
            		ORDER BY 
            		<if test="searchPrice == 'desc'">
    				PROD_PRICE DESC ,
    				</if>    				
    				<if test="searchPrice == 'asc'">
    				PROD_PRICE ASC ,
    				</if>
    				PROD_ID DESC) A, (SELECT @ROWNUM:=0) D
    	<![CDATA[
		) B
		WHERE
		RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT 
    		COUNT(*) AS TOTAL
		FROM
    		product
		WHERE
    		PROD_WRITER = 'admin'
    		<if test="startDate != '' and startDate != null">
			<![CDATA[
            AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') > DATE_FORMAT(#{startDate}, '%Y-%m-%d')
            ]]>
            </if>            		
            <if test="endDate != '' and endDate != null">
            <![CDATA[
            AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            ]]>
            </if>            		
            <if test="searchName != '' and searchName != null">
            AND PROD_NAME LIKE CONCAT('%', #{searchName}, '%')
            </if>            		
            <if test="searchContent != '' and searchContent != null">
            AND PROD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
            </if>
	</select>

</mapper>