<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.topic.TopicMapper">

	<insert id="regist">
		insert into TOPIC(topic_id,
						  topic_title,
						  topic_content,
						  topic_regdate
		)
		values(#{topic_id},
			   #{topic_title},
			   #{topic_content},
			   #{topic_regdate}
		)
	</insert>
	
	<select id="getListAll" resultType="TopicVO">
		<!-- 
		select * 
		from PRODUCT 
		where prod_writer = 'admin' 
		order by prod_id desc
		 -->
		 
		<![CDATA[
		SELECT
			B.*
		FROM
			(SELECT
				A.*, @ROWNUM:=@ROWNUM + 1 AS RN
			FROM
				(SELECT
					*
				FROM
					TOPIC
				ORDER BY
					TOPIC_NO DESC
				) A, (SELECT @ROWNUM:=0) D     		
		) B
		WHERE
		RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
		]]>
	</select>
	
	<select id="getListMe" resultType="TopicVO">
		<!-- 
		select * 
		from PRODUCT 
		where prod_writer = 'admin' 
		order by prod_id desc
		 -->
		 
		<![CDATA[
		SELECT
			B.*
		FROM
			(SELECT
				A.*, @ROWNUM:=@ROWNUM + 1 AS RN
			FROM
				(SELECT
					*
				FROM
					topic
				WHERE
					TOPIC_ID = 'admin'
				ORDER BY
    				TOPIC_NO DESC) A, (SELECT @ROWNUM:=0) D
		) B
		WHERE
		RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT 
    		COUNT(*) AS TOTAL
		FROM
    		TOPIC
	</select>
	
	<select id="getTotalMe" resultType="int">
		SELECT 
    		COUNT(*) AS TOTAL
		FROM
    		TOPIC
    	WHERE
    		TOPIC_ID = 'admin'
	</select>
	
	<select id="getDetail" resultType="topicVO">
		select * from TOPIC
		where TOPIC_NO = #{topic_no}
	</select>
	
	<update id="update">
		update topic
		set topic_title = #{topic_title},
			topic_content = #{topic_content}
		where topic_no = #{topic_no}
	</update>
	
	<delete id="delete">
		delete from topic 
		where topic_no = #{topic_no}
	</delete>
	
</mapper>