<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>th:each 반복문</h3>
	
	<ul>
		<li th:each="vo : ${list}">
			[[${vo}]]<br>
			[[${vo.a}]]<br>
			[[${vo.first}]]<br>
			[[${vo.last}]]<br>
			[[${vo.regdate}]]<br>
			========================
		</li>
	</ul>
	
	<h3>반복문과 state객체</h3>
	
	<ul>
		<li th:each="vo, state : ${list}">
			[[${vo}]]<br>
			[[${state}]]<br>
			[[${state.index}]]<br>
			[[${state.count}]]<br>
			========================
		</li>
	</ul>
	
	<h3>반복문과 if문</h3>
	
	<ul>
		<li th:each="vo : ${list}" th:if="${vo.a % 2 == 0}">
			[[${vo}]]<br>
			========================
		</li>
	</ul>
	
	
	<h3>반복문과 ifelse문</h3>
	
	<ul>
		<li th:each="vo : ${list}">
			<span th:if="${vo.a % 2 == 0}">[[${vo.a + '짝수'}]]</span>
			<span th:unless="${vo.a % 2 == 0}">[[${vo.a + '홀수'}]]</span>
		</li>
	</ul>
</body>
</html>